.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.tech__stack {
  color: var(--color-primary);
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid transparent;
  transition: var(--transition);

  /* Space out items evenly */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0;
}

.portfolio__item h5 {
  margin: 0 0 1rem 0;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}



/*  ========== MEDIA QUERIES (medium devices) ========== */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*  ========== MEDIA QUERIES (small devices) ========== */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}